<h1>Mis proyectos</h1>

<div class="card-deck">
  
    <div class="card">
      <%= image_tag project.image_url, class: "card-img-top" %>
      <div class="card-body">
        <h5 class="card-title"><%= project.title %></h5>
        <p class="card-text"><%= project.description %></p>
    </div>
      
</div>

